LOCATE COMP "top_rst_n" SITE "T6" ;
IOBUF PORT "top_rst_n" IO_TYPE=LVCMOS18 ;
LOCATE COMP "top_clk" SITE "M2" ;
IOBUF PORT "top_clk" IO_TYPE=LVCMOS25 ;
LOCATE COMP "osc_en" SITE "T2" ;
IOBUF PORT "osc_en" IO_TYPE=LVCMOS25 ;


//LOCATE COMP "serial_iq" SITE "L1" ;
//IOBUF PORT "serial_iq" IO_TYPE=LVDS DRIVE=NA ;
//LOCATE COMP "serial_clk" SITE "N1" ;
//IOBUF PORT "serial_clk" IO_TYPE=LVDS DRIVE=NA ;
LOCATE COMP "LED" SITE "B1" ;
IOBUF PORT "LED" IO_TYPE=LVCMOS18 ;

LOCATE COMP "top_test0" SITE "G16" ;
IOBUF PORT "top_test0" IO_TYPE=LVCMOS18 ;
LOCATE COMP "top_test1" SITE "F15" ;
IOBUF PORT "top_test1" IO_TYPE=LVCMOS18 ;
LOCATE COMP "top_test2" SITE "A12" ;
IOBUF PORT "top_test2" IO_TYPE=LVCMOS18 ;
LOCATE COMP "top_test3" SITE "A11" ;
IOBUF PORT "top_test3" IO_TYPE=LVCMOS18 ;
LOCATE COMP "top_test4" SITE "A10" ;
IOBUF PORT "top_test4" IO_TYPE=LVCMOS18 ;
LOCATE COMP "top_test5" SITE "A9" ;
IOBUF PORT "top_test5" IO_TYPE=LVCMOS18 ;
LOCATE COMP "top_test6" SITE "B9" ;
IOBUF PORT "top_test6" IO_TYPE=LVCMOS18 ;
//SPI pins
LOCATE COMP "top_spi_mosi" SITE "R4" ;
IOBUF PORT "top_spi_mosi" IO_TYPE=LVCMOS25 ;
LOCATE COMP "top_spi_miso" SITE "T4" ;
IOBUF PORT "top_spi_miso" IO_TYPE=LVCMOS25 ;
LOCATE COMP "top_spi_sclk" SITE "T3" ;
IOBUF PORT "top_spi_sclk" IO_TYPE=LVCMOS25 ;
LOCATE COMP "top_spi_cs" SITE "R3" ;
IOBUF PORT "top_spi_cs" IO_TYPE=LVCMOS25 ;

SYSCONFIG CONFIG_IOVOLTAGE=1.8 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE MCCLK_FREQ=2.4 CONFIG_MODE=JTAG ;
BLOCK RESETPATHS ;
PERIOD PORT "top_clk" 31.250000 ns ;
